html,
body {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.nav-top {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
.heading {
  background-image: url("rust.PNG");
  background-size: cover;
  padding-top: -20px;
  padding-left: 20px;
  margin-top:50px
}

.rust {
  -webkit-text-stroke: 3px white;
  color: black;
  text-shadow: 9px 9px 0 rgb(5, 66, 28), -3px -3px 0 rgb(5, 66, 28),
    3px -3px 0 rgb(5, 66, 28), -3px 3px 0 rgb(5, 66, 28),
    3px 3px 0 rgb(5, 66, 28);
  margin-top: -10px;
  font-size: 100px;
  text-align: left;
  font-weight: bold;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
.remove {
  margin-top: -190px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.remove p {
  font-size: 22px;
  font-weight: 900;
  color: rgb(5, 66, 28);
  text-align: left;
}

.button {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-image: url("lamp.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 37px 40px;
  border-radius: 10px;
  border-color: rgb(189, 177, 177);
  color: white;
  display: inline-block;
  cursor: pointer;
}
.top {
  bottom: 20px;
  right: 11px;
  position: absolute;
  top: 10%;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 14px;
}
.button:hover {
  padding: 37px 40px;
  border-radius: 10px;
  border-color: red;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-left: 400px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-image: url("diya.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  width: 350px;
  height: 500px;
  margin: auto;
  border: 4px solid rgb(233, 239, 240);
padding:20px;
}

.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: yellow;
  text-decoration: none;
  cursor: pointer;
}

.orderfont {
  font-family: cursive, sans-serif;
  font-weight: bolder;
  justify-content: center;
}

.one {
  position: fixed;
  width: 100%;
  top: 0;
  color:rgb(255, 255, 255);
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(5, 66, 28);
}

li a,
.dropbtn {
  background-color: rgb(5, 66, 28);
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li a:hover,
.dropdown:hover {
  text-decoration: underline;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: auto;
  cursor: pointer;
  z-index: 1;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(5, 66, 28);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  text-decoration: underline;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  text-align: center;
  display: block;
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20px;
  border: 3px;
}

.btn {
  background-color: rgb(5, 66, 28);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 12px;
  border-color: black;
  text-align: center;
  font-size: 21px;
}

.btn:hover {
  text-align: center;
  border-radius: 12px;
  border-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
}

.btn a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}
.btn a:hover {
  color: white;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn-ani {
  background-color: rgb(5, 66, 28);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 12px;
  border-color: black;
  text-align: center;
  font-size: 21px;
  animation-name: ani;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ani {
  from {background-color: rgb(5, 66, 28)}
  to {background-color: rgb(57, 139, 89)}
}

.btn-ani:hover {
  text-align: center;
  border-radius: 12px;
  border-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
}

.btn-ani a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}
.btn-ani a:hover {
  color: white;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.bird {
  margin-top: 0px;
  margin-right: 0px;
  background-image: url("bird.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  height: 100%;
  padding-bottom: 230px;
  padding-top: 120px;
  padding-left: 30px;
}
.commission {
border: 5px solid rgb(5, 66, 28);
  border-radius: 8px;
  margin-right: 65%;
  margin-bottom: 100px;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
  background-color: rgba(143, 140, 140, 0.863);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding:0 4px;
}
.column {
  flex: 20%;
  max-width: 25%;
  padding:0 10px;
}
.column img {
  background-color: rgba(143, 140, 140, 0.651);
  margin-bottom: 10px;
  border: 3px solid white;
  vertical-align: middle;
  width: 100%;
}
.wall {
  background-image: url("brick.png");
  background-size: cover;
  padding: 40px;
}

.footer {
  z-index: 1;
  bottom: 0;
  background-color: rgb(5, 66, 28);
right:0;
color: white;
  text-align:center;
padding:20px;
}
.footer a {
  background-color: rgb(5, 66, 28);
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.footer a:hover {
  text-decoration: underline;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: auto;
  cursor: pointer;
  z-index: 1;
}

.center {
display: block;
  margin-left: auto;
  margin-right: auto;
}
